:root {
  --primary-color: 32, 186, 113; //#20ba71
  --secondary-color: 248, 249, 253; //#f8f9fd

  --card-color: 255, 255, 255; //#fff;

  --text-dark: 24, 23, 42; //#18172a
  --text-gray: 73 74 76; //#494a4c
  --text-muted: 175, 176, 182; //#afb0b6;
  --text-white: 252, 244, 252; //#fcf4fc;
}
